streamlit
langchain-community
langchain-groq
faiss-cpu
langchain-huggingface
langchain-text-splitters
tiktoken
unstructured
unstructured[pdf]
sentence-transformers
pysqlite3-binary
nltk
tf-keras
opencv-python-headless
gdown
shutil
